{% extends 'base.html.twig' %}


{% block stylesheets %}
	<!--Import Google Icon Font-->
	<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link
	type="text/css" rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}" media="screen,projection"/>
	<!--Custom styles-->
	<link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" media="screen,projection"/>

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
{% endblock %}

{% block body %}
	<div class="parallax-container hero-banner valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="hide-on-med-and-down">
					<h1 class="header center white-text light">Un cadeau commun à organiser?</h1>
					<div class="row center">
						<h5 class="header col s12 light">Anniversaire, pot de départ, crémaillère... N'avancez plus les frais !</h5>
					</div>
				</div>
				<div class="hide-on-large-only">
					<div class="row center">
						<h5 class="header col s12 light">Un cadeau commun à organiser ?</h5>
					</div>
				</div>
				<div class="row">
					<div class="card col s12 m12 l8 offset-l2">
						<div class="card-content">
							<div class="input-field col s12 l8">
								<input id="cag_name" type="text" class="validate">
								<label for="cag_name">Nommez votre nouvelle campagne</label>
							</div>
							<a href="{{ path('app_campaign_new') }}" class="btn-large waves-effect waves-light pink lighten-1 col s12 l4">Valider</a>
						</div>
					</div>
				</div>
				<br><br>

			</div>
		</div>
		<div class="parallax"><img src="{{ asset('assets/images/11.jpg') }}" alt="Anniversaire, pot de départ, crémaillère... N'avancez plus les frais !"></div>
	</div>

	{{ include('_partials/_how_it_works.html.twig') }}

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="{{ asset('assets/images/10.jpg') }}" alt="Une campagne pensée pour vous"></div>
	</div>

	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h4>les campagnes du moment</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="carousel">
						{% for campaign in recentCampaigns %}
						<a class="carousel-item" href="{{ path('app_campaign_show', {id: campaign.id}) }}">
							<div class="card center">
								<div class="card-content">
									<span class="card-title teal-text">{{ campaign.title }}</span>
									<p class="black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
								</div>
								<div class="card-action">
									<div class="row black-text">
										<div class="col s6">
											<i class="material-icons teal-text">account_circle</i>
											<b>{{ campaign.participants|length }}</b>
										</div>
										<div class="col s6">
											<i class="material-icons teal-text">euro_symbol</i>
											<span class="resultat">{{ campaign.getTotaleAmount() }}</span>
										</div>
									</div>

								</div>
								<div class="progress">
									<span> {{ campaign.progressBar }}</span>
								</div>
							</div>
						</a>

						{% endfor %}
						
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}


{% block javascripts %}


	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{ asset('assets/js/materialize.min.js') }}"></script>
	<!--Init & custom scripts-->
	<script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>

{% endblock %}
