{{ form_start(formPayment) }}
<h5 class="center">Votre identité</h5>

{{ form_row(formPayment.participant.email) }}

{{ form_row(formPayment.amount) }}

<p>
	<label>
		<input type="checkbox"/>
		<span>Masquer mon identité auprès des autres participants</span>
	</label>
</p>
<p>
	<label>
		<input type="checkbox"/>
		<span>Masquer le montant de ma participation auprès des autres participants</span>
	</label>
</p>
<div class="clearfix"></div>
<h5 class="center">Paiement</h5>

{{ form_row(formPayment.participant.name) }}

<div class="input-field col s12">
	<input id="card_number" type="text" class="validate">
	<label for="card_number">Numéro de la carte</label>
</div>
<div class="input-field col s12 l8">
	<input id="card_expiration_date" type="date" class="validate">
	<label for="card_expiration_date">Date d'expiration</label>
</div>
<div class="input-field col s12 l4">
	<input id="card_cvv" type="text" class="validate">
	<label for="card_cvv">CVV</label>
</div>
<div class="input-field col s12 l6">
	<a href="{{ path('app_campaign_show', {id: campaign.id}) }}" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
</div>
<div class="input-field col s12 l6">
	<button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
		Participer
		<i class="material-icons right">euro_symbol</i>
	</button>
</div>


{{ form_end(formPayment) }}
